body {
    background-color: #212529;
      
  }

  #culumnpadout {
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 30px;
  }

.cardmargin {
  margin-bottom: 10px;
}

